@model WebApplication2.Models.Student
@{
}

<h1 class="fw-bold text-center">InforMation Details</h1>
<div class="container text-center border border-dark mt-3">
	<p class="fw-bold">Name: @Model.Name</p>
	<p class="fw-bold">Address: @Model.Address</p>
	<p class="fw-bold">Phone: @Model.Phone</p>
	<p class="fw-bold">Email: @Model.Email</p>
</div>